@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0C0F11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-outfit: var(--font-outfit);
  --breakpoint-first: 1400px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 99, 99) !important;
  border-radius: 9999px !important;
}

::-webkit-scrollbar-track {
  background: #0C0F11 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255 255 255 / 0.4) !important;
}

.wavy-wrapper {
  position: relative;
  width: var(--size);
  height: var(--size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.wavy-circle {
  width: var(--size);
  height: var(--size);
  mask: url(#wavy-circle-mask);
  -webkit-mask: url(#wavy-circle-mask);
  mask-size: cover;
  -webkit-mask-size: cover;
  overflow: hidden;
  position: absolute;
  background-color: antiquewhite;
  top: 0;
  left: 0;
}

.wavy-border {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.white-border {
  width: var(--size);
  height: var(--size);
}

.wavy-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@layer base {
  .main-bg {
    @apply bg-linear-to-br from-[#0d0630] to-[#150759]
  }
}
